<footer class="mt5 w-100 pa3 pa4-m flex justify-between relative z-3">
  <p class="ma0 f6 fw4 dark-gray">© Susie MacMurray 2020</p>

  <div class="flex">
    <a href="https://www.instagram.com/susiemacmurray/?hl=en" target="_blank">
      <div class="w1 h1 dim mh2">
        <img class="w-100" src="/img/site_icons/instagram.svg" />
      </div>
    </a>
    <a href="https://twitter.com/susiemacmurray?lang=en" target="_blank">
      <div class="w1 h1 dim mr1 mr3-m ml2">
        <img class="w-100" src="/img/site_icons/twitter.svg" />
      </div>
    </a>
  </div>
</footer>
