{% assign
   appendedTitleText = site.title
    | prepend: " - "
    | prepend: page.title
%}
{% assign
   pageUrl = page.url
    | replace: 'index.html',''
    | prepend: site.baseurl
    | prepend: site.url
%}

<head>
  <meta charset="utf-8">
  <title>{% if page.title != site.title %}{{ appendedTitleText }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ site.url }}/style.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <link rel="canonical" href="{{ pageUrl }}">
</head>
