{% assign
   appendedTitleText = site.title
    | prepend: " - "
    | prepend: page.title
%}
{% assign
   pageUrl = page.url
    | replace: 'index.html',''
    | prepend: site.baseurl
    | prepend: site.url
%}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title != site.title %}{{ appendedTitleText }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="/style.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="canonical" href="{{ pageUrl }}">
</head>
