<!-- TODO: abstract out nav to fit homepage and other pages -->
<nav class="mh4-ns flex justify-between z-3">

  <a class="no-underline gray" href="{{ site.url }}">
    <h1 class="tracked-mega ttu fw5 dib">Susie MacMurray</h1>
  </a>

  <ul class="dib">
    {% for title in site.data.navTitles %}
      <a class="dib no-underline fw4 {% if page.title == title.text %}{{ 'black' }}{% else %}{{ 'gray' }}{% endif %} mh2" href="{{ site.url }}{{ title.url }}"><p>{{title.text}}</p></a>
    {% endfor %}
  </ul>

</nav>
