@media (--breakpoint-not-small) {
  .aspect-ratio--16x9-ns { padding-bottom: 56.25%; }
  .aspect-ratio--9x16-ns { padding-bottom: 177.77%; }
  .aspect-ratio--4x3-ns {  padding-bottom: 75%; }
  .aspect-ratio--3x4-ns {  padding-bottom: 133.33%; }
  .aspect-ratio--6x4-ns {  padding-bottom: 66.6%; }
  .aspect-ratio--4x6-ns {  padding-bottom: 150%; }
  .aspect-ratio--8x5-ns {  padding-bottom: 62.5%; }
  .aspect-ratio--5x8-ns {  padding-bottom: 160%; }
  .aspect-ratio--7x5-ns {  padding-bottom: 71.42%; }
  .aspect-ratio--5x7-ns {  padding-bottom: 140%; }
  .aspect-ratio--1x1-ns {  padding-bottom: 100%; }
}

@media (--breakpoint-medium) {
  .aspect-ratio--16x9-m { padding-bottom: 56.25%; }
  .aspect-ratio--9x16-m { padding-bottom: 177.77%; }
  .aspect-ratio--4x3-m {  padding-bottom: 75%; }
  .aspect-ratio--3x4-m {  padding-bottom: 133.33%; }
  .aspect-ratio--6x4-m {  padding-bottom: 66.6%; }
  .aspect-ratio--4x6-m {  padding-bottom: 150%; }
  .aspect-ratio--8x5-m {  padding-bottom: 62.5%; }
  .aspect-ratio--5x8-m {  padding-bottom: 160%; }
  .aspect-ratio--7x5-m {  padding-bottom: 71.42%; }
  .aspect-ratio--5x7-m {  padding-bottom: 140%; }
  .aspect-ratio--1x1-m {  padding-bottom: 100%; }
}

@media (--breakpoint-large) {
  .aspect-ratio--16x9-l { padding-bottom: 56.25%; }
  .aspect-ratio--9x16-l { padding-bottom: 177.77%; }
  .aspect-ratio--4x3-l {  padding-bottom: 75%; }
  .aspect-ratio--3x4-l {  padding-bottom: 133.33%; }
  .aspect-ratio--6x4-l {  padding-bottom: 66.6%; }
  .aspect-ratio--4x6-l {  padding-bottom: 150%; }
  .aspect-ratio--8x5-l {  padding-bottom: 62.5%; }
  .aspect-ratio--5x8-l {  padding-bottom: 160%; }
  .aspect-ratio--7x5-l {  padding-bottom: 71.42%; }
  .aspect-ratio--5x7-l {  padding-bottom: 140%; }
  .aspect-ratio--1x1-l {  padding-bottom: 100%; }
}
