---
layout: default
title: recent works
permalink: /images/recent-works
order: 1
thumbnail: /img/sculptures/barbed-wire-and-velvet/strange-fruit_06.jpg
---

<div class="ma2 ma4-ns ph3 ph4-m mw9 center">
  {% include categoryNav.html %}

  <div img-grid class="o-0 transition flex flex-wrap justify-between">
    {% assign collection = site.recent-works %}
    {% for item in collection %}
      <a class="w-47 w-32-ns" href="{{ site.url }}/images/{{ item.category }}/{{ item.title | split: ' ' | join: '-' }}">
        <div class="w-100">
          <div class="aspect-ratio aspect-ratio--16x9-m aspect-ratio--3x4 dim">
            <div
              bg-image
              class="bg-center cover aspect-ratio--object"
              style="background-image: url({{ site.url }}{{ item.thumbnail }})"></div>
          </div>
          <p class="fw4">{{ item.title }}</p>
        </div>
      </a>
    {% endfor %}
    {% assign oddIndex = site.recent-works | size | modulo : 3 %}
    {% if oddIndex == 2 %}
      <div class="w-32-ns dn db-ns"></div>
    {% endif %}
  </div>
</div>
