<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class='flex min-vh-100 flex-column'>
    {% include nav.html %}
    <main class="flex-auto">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
  <script
    src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script src="{{ site.url }}/bundle.js" charset="utf-8"></script>
</html>
