---
layout: default
---

<div class="ma2 ma4-ns ph3 mw9 center">
  {% for category in site.data.categories %}
    {% if page.title contains category.title %}

      {% include categoryNav.html %}
      {% break %}

    {% endif %}
  {% endfor %}
  <div img-grid class="o-0 transition cf">
    {% for item in site.data[page.dataSource] %}

      {% assign urlTitle = item.title | split: " " | join: "-" %}

      {% if page.dataSource == "recent-works" %}
        {% assign baseUrl = "/images/" | append: item.category | append: "/" %}
      {% else %}
        {% assign baseUrl = page.permalink %}
      {% endif %}

      <a class="w-50 w-33-ns fl" href="{{ site.url}}{{ baseUrl }}{{ urlTitle }}">
        <div class="w-100 ph2">
          <div class="aspect-ratio aspect-ratio--16x9-m aspect-ratio--3x4 dim">
            <div bg-image class="bg-center cover aspect-ratio--object" style="background-image: url({{ site.url }}{{ item.thumbnail }})"></div>
          </div>
          <p class="fw4">{{ item.title }}</p>
        </div>
      </a>

    {% endfor %}
  </div>
</div>
