---
layout: default
---
<div class="flex justify-between mh3 mh4-m pa1">
  <a class="fw4 f6 f5-m gray" href="/images/{{ page.collection }}">back to {{ page.collection | split: '-' | join: ' ' }}</a>
  <h2 class="fw4 f6 f5-m mh2-m mt0">{{ page.title }}</h2>
</div>
<div class="mw6 mw7-short center">
  <div class="relative">
    <div class="absolute w-25 w-50-ns h-75 top-0 left-0 z-3 pointer" id="previous"></div>
    <div class="absolute w-25 w-50-ns h-75 top-0 right-0 z-3 pointer" id="next"></div>
    <div class="slider o-0 z-4 relative transition">
      {% for img in page.images %}
        <div>
          {% assign imgTitle = page.description | join: ' ' | strip_html %}
          {% if img.external_directory %}
            {% assign imgUrl = "/img/" | append: img.url %}
          {% else %}
            {% assign imgUrl = "/img/" | append: page.collection | append: "/" | append: img.url %}
          {% endif %}
          <div class="aspect-ratio aspect-ratio--16x9-m aspect-ratio--4x3">
            <div
              slide-img
              title="{% if img.caption %}{{ img.caption }}{% else %}{{ imgTitle }}{% endif %}"
              imgdata="{{ imgUrl }}"
              class="aspect-ratio--object bg-center {% if img.contain == true %}{{ 'contain' }}{% else %}{{ 'cover' }}{% endif %}" style="background-image: url({{ imgUrl }})"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="captions ph3 ph4-m ph0-l">
      {% for img in page.images %}

        {% if img.caption != "" %}

          {% assign captionLines = img.caption | split: "; " %}
          {% assign last = captionLines | last %}
          <p>
            {% for captionLine in captionLines %}
              {% if  captionLine != last %}

                {{ captionLine }}<br>

              {% else %}

                {{ captionLine }}

              {% endif %}
            {% endfor %}
          </p>

        {% endif %}
      {% endfor %}
  </div>

  <div class="ph3 ph4-m ph0-l">
    {% if page.description %}
      {% for x in page.description %}
        <span class="f6 fw4">{{ x }}</span>
        </br>
      {% endfor %}
    {% endif %}
  </div>
</div>
